
body {
    color: rgb(201, 92, 201);
    width: 300px;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 80px auto;
}
div {
    border: 12px solid lightgrey;
    height: 200px;
}
header {
    background-color: yellow;
    font-family: 'Oswald', sans-serif;
    border: 5px solid yellow;
    border-radius: 15px 15px 0 0;
    margin: -5px;
    padding-top: -30px;
    padding-bottom: 12px;
    text-align: center;
}
h1 {
    margin: 1px;
    font-size: 45px;
    letter-spacing: 7px;
}
h2 {
    margin: 1px;
    margin-top: -10px;
    font-size: 20px;
    letter-spacing: 2px;
}
#nombre {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Architects Daughter';
    font-size: 1.5em;
    margin: -5px;
}
#bottom {
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 25px;
    margin: -5px;
    border-radius: 0 0 15px 15px;
}